language: node_js

env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - oracle-java8-set-default
  chrome: stable

node_js: 
  #- "0.11"
  #- "0.12"
  # 4 will be te latest 4.x release
  - "4"
  - "5"
  - "6"
  - "7"
  - "8"

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install
  # we will use gulp file to load web server too.
  #- npm start > /dev/null &
  #- sleep 1 # let the server start...

script: 
  - npm test
